@model CRUD_Alumnos.Models.Alumno

@{
    ViewBag.Title = "DetallesUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetallesUsuario</h2>

<div>
    <h4>Alumno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Registro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Editar", new { id = Model.id }) |
    @Html.ActionLink("Regresar", "IndexdeAlumno")
</p>
