@model IEnumerable<CRUD_Alumnos.Models.Alumno>

@{
    ViewBag.Title = "Lista de Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Lista de Alumnos</h2>



<p>
    @Html.ActionLink("Create New", "Agregar")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Apellidos
        </th>
        <th>
            Edad
        </th>
        <th>
            Sexo
        </th>
        <th>
            Fecha_Registro
        </th>
        <th>
            Nombre Completo
        </th>
        <th></th>
    </tr>

    


    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nombres)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Apellidos)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Edad)
    </td>
    <td>
        @{
            if (item.Sexo == "M")
            {
                <spam>Masculino</spam>
            }
            else
            {
                <spam>Femenino</spam>
            }
        }

    </td>
    <td>
        @item.Fecha_Registro.ToShortDateString()
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NombreCompleto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.suma)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })
    </td>
</tr>
    }

</table>
