@model IEnumerable<CRUD_Alumnos.Models.Alumno>

@{
    ViewBag.Title = "IndexdeAlumno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Alumnos</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Agregar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Registro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @if (item.Sexo == "F")
            {
                <spam>Femenino</spam>
            }
            else
            {
                <spam>Masculino</spam>
            }
           
        </td>
        <td>
                @item.Fecha_Registro.ToShortDateString()
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.id }) |
            @Html.ActionLink("Detalles", "DetallesUsuario", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "EliminarUsuario", new { id=item.id })
        </td>
    </tr>
}

</table>


